body{
font-family:sans-serif;
width: 96%;
height: 1000px;
background-color:beige;
color:maroon;

}
h1{
text-align: center;
}
.container{
width: 90%;
height: 1000px;
margin: 0 auto;
}
label nombre{
background-color: antiquewhite;
}

