body{
font-family:sans-serif;
width: 96%;
height: 1000px;
background-color:beige;
color:maroon;

}
h1{
text-align: center;
}
.container{
width: 90%;
height: 1000px;
margin: 0 auto;
}
fieldset{
border: dotted 3px maroon;

}
.btn-gourmet{
color:#fff;
background-color: burlywood;
border-color: darkgoldenrod;
}

